@media ( min-width : 768px) {
	.navbar-nav.navbar-right:last-child {
		margin-right: 15px;
	}
}

.navbarCustom {
	background-color: rgb(69, 69, 69);
	color: #ffffff;
	border-radius: 2;
}

.navbarCustom .navbar-nav>li>a {
	color: #fff;
}

.navbarCustom .navbar-nav>.active>a, .navbar-nav>.active>a:hover,
	.navbar-nav>.active>a:focus {
	color: #ffffff;
	background-color: transparent;
}

.navbarCustom .navbar-brand {
	color: #eeeeee;
}

/* online-list */
.online-list {
	position: fixed;
	background-color: #fefefe;
	width: 200px;
	z-index: 5;
	top: 7px;
	right: 0;
	transition: transform 0.2s;
}

.online-list button {
	color: white;
	border: none;
	background-color: limegreen;
	transform: rotate(180deg);
}

.online-list._hidden {
	transform: translateX(500px);
}

.online-list._hidden button {
	transition-delay: 0.2s;
	transform: translateX(-325px) rotate(0deg);
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}

.btn-register:hover, .btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

.btn-manageChatrooms {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: 50px;
	width: 100px;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}

.btn-manageChatrooms:hover, .btn-manageChatrooms:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

.red {
	background-color: red;
}